parameters:
	ignoreErrors:
		-
			message: "#^Class AichaDigital\\\\LaraVerifactu\\\\Models\\\\Invoice uses generic trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory but does not specify its types\\: TFactory$#"
			count: 1
			path: src/Models/Invoice.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\Invoice\\:\\:breakdowns\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/Models/Invoice.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\Invoice\\:\\:getBreakdowns\\(\\) should return Illuminate\\\\Support\\\\Collection\\<int, AichaDigital\\\\LaraVerifactu\\\\Contracts\\\\InvoiceBreakdownContract\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, AichaDigital\\\\LaraVerifactu\\\\Models\\\\InvoiceBreakdown\\>\\.$#"
			count: 1
			path: src/Models/Invoice.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\Invoice\\:\\:registry\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/Models/Invoice.php

		-
			message: "#^PHPDoc type array\\<string\\> of property AichaDigital\\\\LaraVerifactu\\\\Models\\\\Invoice\\:\\:\\$fillable is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$fillable\\.$#"
			count: 1
			path: src/Models/Invoice.php

		-
			message: "#^Class AichaDigital\\\\LaraVerifactu\\\\Models\\\\InvoiceBreakdown uses generic trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory but does not specify its types\\: TFactory$#"
			count: 1
			path: src/Models/InvoiceBreakdown.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\InvoiceBreakdown\\:\\:invoice\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/Models/InvoiceBreakdown.php

		-
			message: "#^PHPDoc type array\\<string\\> of property AichaDigital\\\\LaraVerifactu\\\\Models\\\\InvoiceBreakdown\\:\\:\\$fillable is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$fillable\\.$#"
			count: 1
			path: src/Models/InvoiceBreakdown.php

		-
			message: "#^Class AichaDigital\\\\LaraVerifactu\\\\Models\\\\Registry uses generic trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory but does not specify its types\\: TFactory$#"
			count: 1
			path: src/Models/Registry.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\Registry\\:\\:getXml\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Models/Registry.php

		-
			message: "#^Method AichaDigital\\\\LaraVerifactu\\\\Models\\\\Registry\\:\\:invoice\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/Models/Registry.php

		-
			message: "#^PHPDoc type array\\<string\\> of property AichaDigital\\\\LaraVerifactu\\\\Models\\\\Registry\\:\\:\\$fillable is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$fillable\\.$#"
			count: 1
			path: src/Models/Registry.php

